{{!-- LIST --}}
<div class="rounded-list-item shadow-sm rounded-lg d-flex justify-content-between p-4" data-bs-toggle="modal"
    data-bs-target="#employee-{{_id}}">
    <h1 class="mb-0 mt-1">
        <span class="event-icon material-icons-two-tone md-36">face</span>
        {{username}}
    </h1>
</div>
<br>

{{!-- VIEW DETAILS MODAL --}}
<div class="modal fade" id="employee-{{_id}}" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>View Employee</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body px-4 py ui-front container">

                <div class="row">
                    <div class="col-6">
                        <div class="row container-fluid shadow-sm bg-light rounded-sm p-3 mb-3">
                            <div class="d-flex flex-row">
                                <h5 class="fw-bolder mt-1 text-black-50"><span
                                        class="material-icons-two-tone mb-1 md-24">face</span>
                                    Employee Details</h5>
                            </div>
                            <hr>
                            <h6><strong>Employee Name: </strong> {{name}}</h6>
                            <h6><strong>Employee Contact Number: </strong> {{contactNum}}</h6>
                            {{#if emergencyContactName}}
                            <h6><strong>Emergency Contact: </strong> {{emergencyContactName}}</h6>
                            {{/if}}
                            {{#if emergencyContactNum}}
                            <h6><strong>Emergency Contact Number: </strong> {{emergencyContactNum}}</h6>
                            {{/if}}
                            <h6><strong>Date Registered: </strong> {{dateRegistered}}</h6>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="row container-fluid shadow-sm bg-light rounded-sm p-3 mb-3">
                            <div class="d-flex flex-row">
                                <h5 class="fw-bolder mt-1 text-black-50"><span
                                        class="material-icons-two-tone mb-1 md-24">person_outline</span>
                                    Account Details</h5>
                            </div>
                            <hr>
                            <h6><strong>Username: </strong> {{username}}</h6>
                            <h6><strong>Has System Access: </strong> {{#if hasAccess}} Yes {{else}} No {{/if}}</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row container-fluid shadow-sm bg-light rounded-sm p-3 mb-3">
                            <div class="d-flex flex-row">
                                <h5 class="fw-bolder mt-1 text-black-50"><span class="material-icons-two-tone mb-1 md-24">visibility</span>
                                    Recent Activities</h5>
                            </div>
                            <hr>
                            
                            {{#if activities}}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Timestamp</th>
                                        <th>Activity</th>
                                        <th>Employee Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each activities}}
                                    {{>activity}}
                                    {{/each}}
                                </tbody>
                            </table>
                            {{else}}
                            <h1 class="no-content text-center p-5">No Recent Activities</h1>
                            {{/if}}
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                {{#ifEquals hasAccess true}}
                <button type="button" class="btn btn-danger me-auto" data-bs-target="#employee-{{_id}}-remove"
                    data-bs-toggle="modal" data-bs-dismiss="modal">Remove Access</button>
                {{/ifEquals}}
                {{#ifEquals hasAccess false}}
                <button type="button" class="btn btn-danger me-auto" data-bs-target="#employee-{{_id}}-add" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Give Access</button>
                {{/ifEquals}}
                <a class="btn btn-secondary" href="#" role="button">Edit</a>
            </div>
        </div>
    </div>
</div>